/** Add css rules here for your application. */
.RootBackgroundLayout {
	background-image: url("img/temporary.jpg");
}

.DockPanel td {
	border: 1px solid #BBBBBB;
	padding: 3px;
}

.debugBorders {
	border: 1px solid #BBBBBB;
	padding: 3px;
}